* {
  font-family: Arial, Helvetica, sans-serif;
}

h1, 
h2 {
  color: rgb(26, 33, 33);
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #760000;
  color: white;
}

  li a {
  display: block;
  width: 60px;
}

li a:hover {
  background-color: #555;
  color: white;
}
