* {
  font-family: Arial, Helvetica, sans-serif;
}

h1, 
h2 {
  color: rgb(26, 33, 33);
}

.uppercase {
  text-transform: uppercase;
}

nav li a {
  list-style-type: none;
  display: block;
  width: 60px;
}

nav li a:hover {
  background-color: #555;
  color: white;
}
